html,body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
}

a{
    text-decoration: none;
    outline: none;
}

.View.container {
    position: relative;
    margin: 0 auto;
    width: 1170px;
    @include clearfix;
}

.primary-color{
    color: #22a875;
}
