.Frame.main.declare-detail{
    padding: 40px 0 100px;
    @include clearfix;
    .hd{
        margin: 0 auto;
        @include clearfix;
        border-bottom: 1px solid #f6f6f6;
        h3{
            float: left;
            margin: 0;
            margin-bottom: -1px;
            padding-bottom: 10px;
            border-bottom: 3px solid #0071e3;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .container >.title{
        margin-top: 50px;
        font-size: 30px;
        color: #000000;
        text-align: center;
    }
    .info{
        @include clearfix;
        margin-top: 20px;
        padding: 20px 30px;
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        font-size: 14px;
        color: #000;
        text-align: center;
        .source{
            float: left;
        }
        .start-time{
            display: inline-block;
        }
        .end-time{
            float: right;
        }
        .label{
            font-weight: bold;
        }
    }
    .bd{
        padding: 30px 100px;
        border-bottom: 1px solid #f6f6f6;
        .title{
            font-size: 18px;
            color: #000;
            font-weight: bold;
        }
        .inner{
            padding: 30px 100px;
            line-height: 1.5;
        }
        .control{
            @include clearfix;
            .upload{
                position: relative;
                float: right;
                width: 100px;
                height: 36px;
                .btn{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #0071e3;
                    color: #fff;
                    line-height: 36px;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                    cursor: pointer;
                    &:hover{
                        opacity: .9;
                    }
                }
                .upload-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .ft{
        @include clearfix;
        padding: 40px 100px;
        .tip{
            font-size: 24px;
            line-height: 36px;
            color: #000;
        }
        .btn{
            float: right;
            height: 36px;
            padding: 0 14px;
            outline: none;
            border: 0;
            border-radius: 3px;
            background-color: #0075e6;
            line-height: 36px;
            color: #fff;
            cursor: pointer;
            &:hover{
                opacity: .9;
            }
        }
    }
}
