.Frame.main.dsjl-detail{
    padding: 40px 0 100px;
    @include clearfix;
    .main{
        float: left;
        width: 758px;
        .top{
            height: 370px;
            padding: 20px;
            border: 1px solid #dee2e5;
            > .bd{
                @include clearfix;
                .pic{
                    float: left;
                    width: 450px;
                    height: 326px;
                    border: 2px solid #dddddd;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .info{
                    float: right;
                    width: 245px;
                    .title{
                        padding: 10px 0;
                        border-bottom: 1px solid #dee2e5;
                        font-size: 22px;
                        color: #000;
                        font-weight: bold;
                    }
                    .bd{
                        height: 214px;
                        overflow: hidden;
                        border-bottom: 1px solid #dee2e5;
                        .item{
                            position: relative;
                            margin: 20px 0;
                            padding-left: 100px;
                            line-height: 1.2;
                            .label{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 80px;
                                font-size: 16px;
                                font-weight: bold;
                                text-align: right;
                                color: #000;
                            }
                            .content{
                                color: #737373;
                            }
                        }
                    }
                    .ft{
                        @include clearfix;
                        margin-top: 20px;
                        .btn-add{
                            width: 100%;
                            height: 48px;
                            outline: none;
                            border: 0;
                            border-radius: 3px;
                            background-color: #0075e6;
                            color: #fff;
                            cursor: pointer;
                            &:hover{
                                opacity: .9;
                            }
                        }
                    }
                }
            }
            > .ft{
                @include clearfix;
                margin-top: 20px;
                font-size: 14px;
                color: #737373;
                line-height: 18px;
                .icon-look,.icon-like,.icon-collect{
                    display: inline-block;
                    width: 20px;
                    height: 18px;
                    vertical-align: top;
                    background-image: url('../img/icon-mini.png');
                    background-repeat: no-repeat;
                    background-position-y: -1px;
                }
                .icon-look{
                    background-position-x: 0;
                }
                .icon-like{
                    background-position-x: -20px;
                }
                .icon-collect{
                    background-position-x: -40px;
                }
                .like{
                    margin-left: 20px;
                    cursor: pointer;
                }
                .look{
                    cursor: pointer;
                }
                .tags{
                    margin-left: 20px;
                    .tag{
                        margin: 0 5px;
                        padding: 2px 4px;
                        border: 1px solid #dee2e5;
                        border-radius: 2px;
                    }
                }
                .collect{
                    float: right;
                    cursor: pointer;
                }
                .share{
                    float: right;
                    margin-left: 20px;
                }
            }
        }

        .bottom{
            margin-top: 40px;
            @include clearfix;
            padding: 20px;
            border: 1px solid #dee2e5;
            border-radius: 3px;
            .hd{
                margin: 0 auto;
                @include clearfix;
                border-bottom: 1px solid #f6f6f6;
                h3{
                    float: left;
                    margin: 0;
                    margin-bottom: -1px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid #0071e3;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            .bd{
                padding-top: 20px;
                .title{
                    margin: 30px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #000;
                }
                .content{
                    font-size: 16px;
                    color: #737373;
                    line-height: 1.5;
                }
                .item{
                    position: relative;
                    padding-left: 100px;
                    .label{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 80px;
                        text-align: right;
                    }
                }
            }
        }
    }
    .right{
        float: right;
        width: 422px;
        .recommend{
            @include clearfix;
            padding: 20px;
            border: 1px solid #dee2e5;
            border-radius: 3px;
            .hd{
                padding-bottom: 20px;
                border-bottom: 1px solid #f6f6f6;
                font-size: 18px;
                color: #242424;
            }
            .bd{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    margin-top: 30px;
                }
                a{
                    color: #737373;
                    &:hover{
                        opacity: .9;
                    }
                }
                .pic{
                    width: 100%;
                    height: 140px;
                    border: 1px solid #dee2e5;
                }
                .title{
                    margin: 12px 0 10px;
                    display: block;
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                }
                .text{
                    font-size: 16px;
                    color: #737373;
                }
            }
        }
    }

}
