.Frame.footer{
    padding: 10px 0 20px;
    background-color: #0071e3;
    .links{
        @include clearfix;
        line-height: 20px;
        .title{
            float: left;
            font-size: 20px;
            color: #fff;
        }
        ul{
            margin: 0 0 0 100px;
            padding: 0;
            list-style: none;
        }
        li{
            float: left;
            margin: 0 0 0 10px;
            padding: 2px 0;
        }
        a{
            display: block;
            padding-right: 10px;
            border-right: 1px solid #7fb8f1;
            font-size: 16px;
            line-height: 1;
            color: #fff;
            &:hover{
                opacity: .9;
            }
        }
    }

    .copyright{
        margin-top: 100px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        line-height: 2;
        background: url('../img/logo-footer.png') no-repeat 950px center;
        a{
            color: #fff;
        }
    }
}