.Frame.menu{
    height: 50px;
    border-top: 1px solid #c3d0d8;
    background: linear-gradient(#fff, #edf2f6);
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            margin-right: 50px;
        }
        a{
            position: relative;
            display: block;
            padding: 12px 0 5px 0;
            font-size: 16px;
            line-height: 24px;
            color: #737373;
            &:hover{
                border-bottom: 3px solid #0071e3;
                color: #0071e3;
                .icon-menu{
                    background-position-y: -33px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -2px;
                    border-width: 4px;
                    border-style: solid;
                    border-color: transparent transparent #0071e3 transparent;
                }
            }
            &.active{
                color: #0071e3;
                .icon-menu{
                    background-position-y: -33px;
                }
            }
        }
        .icon-menu{
            margin-right: 3px;
            display: inline-block;
            width: 30px;
            height: 24px;
            background: url('../img/icon-menu.png') no-repeat;
            background-position-y: -3px;
            vertical-align: top;
            &.home{
                background-position-x: 0;
            }
            &.rcfw{
                background-position-x: -30px;
            }
            &.spfx{
                background-position-x: -60px;
            }
            &.dscyy{
                background-position-x: -90px;
            }
            &.dsfw{
                background-position-x: -120px;
            }
            &.dsjl{
                background-position-x: -150px;
            }
            &.zwfw{
                background-position-x: -180px;
            }
            &.dsxy{
                background-position-x: -210px;
            }
        }
    }
}