.Frame.main.rcfw{
    padding-bottom: 50px;
    .top{
        margin-top: 50px;
        .hd{
            @include clearfix;
            border-bottom: 1px solid #f6f6f6;
            h3{
                float: left;
                margin: 0;
                margin-bottom: -1px;
                padding-bottom: 10px;
                border-bottom: 3px solid #0071e3;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .bd{
            margin-top: 30px;
            width: 100%;
            height: 300px;
            overflow: hidden;
        }
        .top-swiper-container{
            position: relative;
            width: 100%;
            height: 100%;
            .swiper-slide{
                background-position: center;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .info{
        margin-top: 30px;
        padding: 20px;
        border: 1px solid #dee2e5;
        border-radius: 3px;
        .hd{
            @include clearfix;
            border-bottom: 1px solid #f6f6f6;
            h3{
                float: left;
                margin: 0;
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                color: #0071e3;
            }
            .more{
                float: right;
                margin-top: 5px;
                font-size: 14px;
                color: #999;
                &:hover{
                    opacity: 0.9;
                }
            }
        }
        .bd{
            .item{
                margin-top: 20px;
                @include clearfix;
                .pic{
                    float: left;
                    width: 225px;
                    height: 150px;
                    border: 1px solid #dee2e5;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .content{
                    float: left;
                    margin-left: 20px;
                    width: 900px;
                    .title{
                        font-size: 18px;
                        font-weight: bold;
                        color: #000;
                    }
                    .time{
                        margin-top: 10px;
                        font-size: 14px;
                        color: #737373;
                    }
                    .text{
                        margin-top: 20px;
                        height: 84px;
                        overflow: hidden;
                        font-size: 14px;
                        color: #737373;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .box{
        margin-top: 30px;
        padding: 20px 20px 8px 20px;
        border: 1px solid #dee2e5;
        border-radius: 3px;
        .hd{
            @include clearfix;
            h3{
                float: left;
                margin: 0;
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                color: #0071e3;
            }
            .more{
                float: right;
                margin-top: 5px;
                font-size: 14px;
                color: #999;
                &:hover{
                    opacity: 0.9;
                }
            }
        }
        .bd{
            table{
                width: 100%;
                table-layout: fixed;
                th{
                    padding: 10px 0;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #f6f6f6 transparent #f6f6f6 transparent;
                    font-size: 16px;
                    color: #737373;
                }
                td{
                    padding: 12px 5px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #737373;
                }
                tbody tr{
                    &:hover{
                        td{
                            color: #0071e3;
                        }
                    }
                }
            }
        }
    }
}
