.Frame.main.zwfw-detail{
    padding: 40px 0 100px;
    @include clearfix;
    .container >.hd{
        margin: 0 auto;
        @include clearfix;
        border-bottom: 1px solid #f6f6f6;
        h3{
            float: left;
            margin: 0;
            margin-bottom: -1px;
            padding-bottom: 10px;
            border-bottom: 3px solid #0071e3;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .container >.bd{
        @include clearfix;
        margin-top: 50px;
    }
    .main{
        float: left;
        width: 880px;
        >.title{
            font-size: 30px;
            text-align: center;
        }
        >.info{
            @include clearfix;
            margin-top: 20px;
            padding: 20px 30px;
            border-top: 1px solid #f6f6f6;
            border-bottom: 1px solid #f6f6f6;
            font-size: 14px;
            color: #000;
            .source{
                float: left;
            }
            .time{
                float: right;
            }
            .label{
                font-weight: bold;
            }
        }
        >.content{
            padding: 20px 0 100px 0;
            font-size: 14px;
        }
        >.control{
            @include clearfix;
            margin-top: 20px;
            padding-bottom: 30px;
            border-bottom: 1px solid #f6f6f6;
            font-size: 14px;
            color: #737373;
            line-height: 18px;
            .icon-look,.icon-like,.icon-collect{
                display: inline-block;
                width: 20px;
                height: 18px;
                vertical-align: top;
                background-image: url('../img/icon-mini.png');
                background-repeat: no-repeat;
                background-position-y: -1px;
            }
            .icon-look{
                background-position-x: 0;
            }
            .icon-like{
                background-position-x: -20px;
            }
            .icon-collect{
                background-position-x: -40px;
            }
            .like{
                margin-left: 20px;
                cursor: pointer;
            }
            .look{
                cursor: pointer;
            }
            .tags{
                margin-left: 20px;
                .tag{
                    margin: 0 5px;
                    padding: 2px 4px;
                    border: 1px solid #dee2e5;
                    border-radius: 2px;
                }
            }
            .collect{
                float: right;
                cursor: pointer;
            }
            .share{
                float: right;
                margin-left: 20px;
            }
        }
        .comment{
            margin-top: 30px;
            .comment-box{
                @include clearfix;
                .hd{
                    @include clearfix;
                    .avatar{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        overflow: hidden;
                        vertical-align: top;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .user-name{
                        margin-left: 10px;
                        display: inline-block;
                        font-size: 16px;
                        color: #737373;
                        line-height: 30px;
                    }
                }
                textarea{
                    margin-top: 12px;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 15px;
                    outline: none;
                    border: 1px solid #dee2e5;
                    border-radius: 3px;
                    font-size: 16px;
                    resize: none;
                    &::-webkit-input-placeholder{
                        color: #b9b9b9;
                    }
                }
                .btn-submit{
                    float: right;
                    margin-top: 10px;
                    height: 38px;
                    padding: 0 14px;
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    background-color: #0075e6;
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        opacity: .9;
                    }
                }
            }
            .hot-comment{
                margin-top: 30px;
                .hd{
                    @include clearfix;
                    border-bottom: 1px solid #f6f6f6;
                    h3{
                        float: left;
                        margin: 0;
                        margin-bottom: -1px;
                        padding-bottom: 10px;
                        border-bottom: 3px solid #0071e3;
                        font-size: 18px;
                        font-weight: bold;
                        color: #242424;
                    }
                    .sort{
                        margin-left: 10px;
                        padding: 8px 10px;
                        border: 1px solid #dee2e5;
                        font-size: 14px;
                        color: #737373;
                        outline: none;
                    }
                }
                .bd{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        position: relative;
                        margin-top: 30px;
                        padding-left: 40px;
                        padding-bottom: 30px;
                        border-bottom: 1px solid #f6f6f6;
                        .avatar{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 30px;
                            height: 30px;
                            border-radius: 100%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title{
                            line-height: 30px;
                            .user-name{
                                font-size: 16px;
                                color: #737373;
                            }
                            .time{
                                margin-left: 10px;
                                font-size: 14px;
                                color: #737373;
                            }
                        }
                        .content{
                            padding: 10px 0;
                            font-size: 14px;
                            line-height: 1.5;
                            color: #737373;
                        }
                        .like,.unlike{
                            position: relative;
                            margin: 0 5px;
                            display: inline-block;
                            padding-left: 15px;
                            font-size: 12px;
                            line-height: 1;
                            color: #737373;
                            cursor: pointer;
                            &:before{
                                position: absolute;
                                top: 0;
                                left: 0;
                                content: "";
                                width: 12px;
                                height: 12px;
                                background: url('../img/icon-like.png') no-repeat;
                            }
                            &:hover{
                                color: #0075e6;
                            }
                            &:hover,&.active{
                                &:before{
                                    background-position-y: -12px;
                                }
                            }
                        }
                        .unlike{
                            &:before{
                                background-position-x: -12px;
                            }
                        }
                    }
                }
            }
        }
        .download{
            margin-top: 30px;
            >.hd{
                margin: 0 auto;
                @include clearfix;
                border-bottom: 1px solid #f6f6f6;
                h3{
                    float: left;
                    margin: 0;
                    margin-bottom: -1px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid #0071e3;
                    font-size: 18px;
                    font-weight: bold;
                    color: #0f71e3;
                }
            }
            .bd{
                ul{
                    margin: 0;
                    padding: 30px;
                    list-style: none;
                }
                a{
                    font-size: 14px;
                    color: #000;
                    text-decoration: underline;
                    &:hover{
                        opacity: .9;
                    }
                }
            }
            .ft{
                @include clearfix;
                .btn{
                    float: right;
                    height: 38px;
                    line-height: 38px;
                    padding: 0 14px;
                    font-size: 18px;
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    background-color: #0075e6;
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        opacity: .9;
                    }
                }
            }
        }
    }
    .right{
        float: right;
        width: 290px;
        .hot{
            height: 282px;
            overflow: hidden;
            border: 1px solid #dee2e5;
            border-radius: 3px;
            .title{
                margin: 0 20px;
                padding: 20px 0;
                border-bottom: 1px solid #f6f6f6;
                font-size: 16px;
                color: #737373;
            }
            ul{
                margin: 0 20px;
                padding: 0;
                list-style: none;
            }
            li{
                margin: 22px 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 16px;
                color: #737373;
                &:hover{
                    color: #0075e6;
                }
            }
            a{
                color: #737373;
                &:hover{
                    color: #0075e6;
                }
            }
        }
    }
}
