<div class="Frame footer">
    <div class="View container">
        <div class="links">
            <div class="title">友情链接</div>
            <ul>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
                <li>
                    <a href="javascript:;">泉州市政府</a>
                </li>
            </ul>
        </div>

        <div class="copyright">
            <a href="javascript:;">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:;">备案号（闽ICP16025860号-1）</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <span>版权所有:  泉州市华创信息服务有限公司</span>
            <br/>
            <span>Copyright © 2016-2017   xncy.ebdeep.com   All Rights Reserved</span>
        </div>
    </div>
</div>