    <div class="Frame bottom">
        <div class="View container">
            <div class="menus">
                <div class="hd">3ico科技文化发展有限公司</div>
                <ul>
                    <li><i class="ico arrow"></i><a href="javascript:;">首页</a></li>
                    <li><i class="ico arrow"></i><a href="javascript:;">项目信息</a></li>
                    <li><i class="ico arrow"></i><a href="javascript:;">PUSH集市</a></li>
                    <li><i class="ico arrow"></i><a href="javascript:;">关于我们</a></li>
                    <li><i class="ico arrow"></i><a href="javascript:;">联系我们</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="hd">联系我们</div>
                <ul>
                    <li>
                        <i class="ico telephone"></i>
                        010-4029182
                    </li>
                    <li>
                        <i class="ico mail"></i>
                        zhtx@163.com
                    </li>
                    <li>
                        <i class="ico phone"></i>
                        13715933598
                    </li>
                    <li>
                        <i class="ico location"></i>
                        北京市海淀区上地东路京蒙高科B座607室
                    </li>
                </ul>
            </div>
            <div class="map">
                <div class="hd">公司地图</div>
                <div class="inner">
                    <img src="img/demo/map.jpg">
                </div>
            </div>
            <div class="follow">
                <div class="weibo"><wb:follow-button uid="2991975565" type="red_1" width="67" height="24" ></wb:follow-button></div>
                <div class="qrcode">
                3ico微信关注<br/><br/>
                <img src="img/qrcode.jpg"></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="View container">
            CopyRight © 2017 All Rights Reserved. 版权所有 ©
            <a href="/">3IC科技文化发展有限公司</a>
        </div>
    </div>

