<div class="Frame header">
    <div class="View container">
        <h1 class="logo">台商投资区电子商务公共服务平台</h1>
        <ul class="header-menu">
            <li>
                <a id="js-login" href="javascript:;">登录</a>
            </li>
            <li>
                <a id="js-register" href="javascript:;">注册</a>
            </li>
        </ul>

        <div class="header-search">
            <form id="js-header-search" onSubmit="return false">
                <input type="text" placeholder="搜什么好呢..." class="input"/><button type="submit" class="btn-search">搜索</button>
            </form>
        </div>
    </div>
</div>