<div class="Frame menu">
    <div class="View container">
        <ul>
            <li>
                <a href="javascript:;" class="active">
                    <i class="icon-menu home"></i>首页
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu rcfw"></i>人才服务
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu spfx"></i>商品分销
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu dscyy"></i>电商产业园
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu dsfw"></i>电商服务
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu dsjl"></i>电商交流
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu zwfw"></i>政务服务
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-menu dsxy"></i>电商学院
                </a>
            </li>
        </ul>
    </div>
</div>