<div class="pagination-wrap">
    <div class="pagination">
        <ul>
            <li class="disabled"><a href="javascript:;">&lt;上一页</a></li>
            <li class="active"><a href="javascript:;">1</a></li>
            <li class="more"><a href="javascript:;">...</a></li>
            <li><a href="javascript:;">3</a></li>
            <li><a href="javascript:;">4</a></li>
            <li><a href="javascript:;">5</a></li>
            <li class="more"><a href="javascript:;">...</a></li>
            <li><a href="javascript:;">9</a></li>
            <li><a href="javascript:;">下一页&gt;</a></li>
        </ul>
    </div>
</div>