<div class="Frame top">
    <div class="View container">
        <span>www.3ico.com</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>
            <i class="ico-phone"></i>
            +13615966354
        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>
        ICO is Initial Crypto-Token Offering 比特币：<span class="green">15836.9178</span>元
        以太坊：<span class="green">1357.66761</span> 元
        </span>
        <ul class="menus">
            <li id="js-login">
                <a class="login" href="/admin/index.html#/login">
                    <i class="ico-user"></i>
                    登录
                </a>
            </li>
            <li id="js-register">
                <a class="register" href="/admin/index.html#/register">注册</a>
            </li>
        </ul>
    </div>
</div>
